@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
    --white: #fff;
    --black: #4f524f;
    --blue: #31326f;
    --light-blue: #04B4E0;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --very-dark: #363836;
    --orange: #ffb640;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 2rem;
    background: linear-gradient(to right bottom, #dfa60c, #9d0191);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--black);
}

img {
    width: 25%;
}

.container {
    margin: 0 auto;
}

/* CUSTOM CSS BEGINS HERE */
/* CUSTOM CSS BEGINS HERE */
/* CUSTOM CSS BEGINS HERE */
.all {
    width: 90%;
    max-width: 110rem;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #fff;
    margin: 2rem 1rem 0 0;
    border-radius: 3px;
}

nav ul {
    list-style: none;
    width: 7rem;
}

nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

nav ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

nav li i {
    font-size: 1.6rem;
    color: var(--black);
    padding-bottom: 5px;
}

nav li a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--black);
}

nav li a:hover {
    color: var(--color-primary);
}

.active > * {
    color: var(--color-primary);
}

/* SECTION STYLES */
/* SECTION STYLES */
/* SECTION STYLES */
.main-container {
    display: flex;
}

.profile {
    width: 30%;
    min-width: 40rem;
    height: 80vh;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.profile .profile-image img {
    width: 100%;
}

.profile-content {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

.profile-content h2 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--black);
}

.profile-content p.text-effect {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-primary);
    padding-bottom: 3rem;
}

span.effect {
    border-right: 1px solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.profile-icons a {
    font-size: 2rem;
    margin: 5px;
    color: var(--black);
    text-decoration: none;
    transition: all .3s;
}

.profile-icons a:hover {
    color: var(--color-primary);
}

.profile-cta {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 2rem;
}

.profile-cta a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}

.profile-cta a:hover {
    color: var(--color-primary);
}

/* CONTENT STYLES */
/* CONTENT STYLES */
/* CONTENT STYLES */
.content-all {
    position: relative;
    margin: auto 0;
    overflow: hidden;
}

.content {
    width: 100%;
    background-color: #f5f4f2;
    padding: 1.5rem;
    height: 75vh;
    border: 1px solid transparent;
    border-radius: 0 3px 0 3px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    position: relative;
    animation: slide-right 1s ease 1;
}

.content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6rem;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.2);
}

.content-about {
    display: block;
}

.content::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}

.content::-webkit-scrollbar-track {
    background-color: var(--color-primary);
    outline: 1px solid #eee;
}

/* SLIDE OUT CONTENT ANIMATION */
@keyframes slide-right {
    0% {
        transform: translateX(-50rem);
    }
    100% {
        transform: translateX(0);
    }
}

/* ABOUT SECTION */
/* ABOUT SECTION */
/* ABOUT SECTION */
.content-about {
    background: url(./images/3.jpg) no-repeat center/cover;
    position: relative;
    z-index: -1;
    
}

.content-about::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(3rem);
    z-index: -1;
    animation: hue 7s infinite alternate;
}

/* HUE ANIMATION */
@keyframes hue {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.content-header {
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.content-about .content-header {
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding: 1.7rem 0;
}

.content-header h2 {
    font-size: 2.5rem;
    line-height: .5;
    color: var(--black);
    z-index: 1;
}

.content-about .content-header h2 {
    color: #eee;
}

.content-header h2 span {
    color: var(--color-primary);
}

.content-details {
    padding: 1rem 0;
}

.content-about .content-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.content-about .content-details img {
    width: 12rem;
    height: 12rem;
    border-radius: 33% 67% 68% 32% / 46% 54% 46% 54%;
    border: 2px solid #eee;
    margin-bottom: 1rem;
}

.content-about .content-details p {
    color: #fff;
    font-weight: 300;
}

.content-about .content-details p span.text {
    font-size: 1.8rem;
}

.content-about .content-details p span.name {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: 700;
}


/* RESUME SECTION */
/* RESUME SECTION */
/* RESUME SECTION */
.resume,
.portfolio,
.blog,
.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 4rem;
    column-gap: 1rem;
}

.resume .title,
.my-skills .title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: var(--black);
}

.resume .year,
.contact-details .title {
    font-size: 1.3rem;
    background-color: var(--color-primary);
    display: inline-block;
    color: #eee;
    padding: 2px;
    border-radius: 3px;
}

.resume .year-title,
.portfolio-item p.portfolio-title,
.blog-post .post-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--very-dark);

}

.resume .year-desc,
.portfolio-item p.portfolio-desc,
.blog-post .post-desc {
    font-size: 1.4rem;
}

.content-line {
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right, var(--color-primary), var(--orange));
    margin-top: 2rem;
}

/* SKILL SECTION */
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 2rem;
    column-gap: 1rem;

}

.skill {
    padding: 1rem 0;
    background-color: rgba(0,0,0,.1);
    text-align: center;
    border-radius: 3px;
    transform: translateY(0);
    transition: all .3s;
}

.skill:hover {
    transform: translateY(-5px);
    background-color: rgba(0,0,0,.2);
}

.skill p {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--very-dark);
}

/* PORTFOLIO SECTION */
.portfolio,
.blog {
    text-align: center;
    padding: 1rem 0;
}

.portfolio-item,
.blog-post,
.contact-details {
    border: 1px solid #fff;
    background-color: #fff;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 1rem;
    transition: all .3s;
}

.portfolio-item img,
.blog-post img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.portfolio-item a,
.blog-post a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    transition: all .3s;
}

.portfolio-item a:hover,
.blog-post a:hover {
    color: var(--very-dark);
    border: 1px solid var(--color-primary);
    border-radius: 3px;
}

.portfolio-item:hover .portfolio-title,
.blog-post:hover p.post-title {
    background-color: rgba(170, 25, 134,.8);
    color: #fff;
    padding: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

/* BLOF SECTION */
/* BLOF SECTION */
/* BLOF SECTION */

/* CONTACT SECTION */
.contact {
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 1rem 0;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.contact-details img {
    width: 100%;
}

.contact-form {
    padding: 1rem 0;
    width: 100%;
}

.contact-form .form-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.contact-form .form-input input {
    width: 48%;
    padding: 1rem;
}

.contact-form textarea {
    width: 100%;
    height: 8rem;
}

.contact-form .form-input > *,
.contact-form textarea {
    font-size: 1.4rem;
    font-family: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--very-dark);
    background-color: transparent;
}

.contact-form input[type=submit] {
    font-size: 1.6rem;
    padding: 8px;
    margin-top: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    cursor: pointer;
}